.footer {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .social-section {
    background-color: #f3c300; /* Amarelo */
    text-align: center;
    padding: 10px 0;
  }
  
  .social-section p {
    margin: 0;
    font-weight: bold;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #000;
    margin: 0 10px;
    font-size: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  
  .footer-left h3 {
    margin: 0;
  }
  
  .footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-right ul li {
    margin-bottom: 5px;
  }
  
  .footer-right ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-right ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
  }