.underline-animation{
  text-decoration: underline 0.10em rgba(189, 41, 41, 0);
  transition: text-decoration-color 300ms;
}
.underline-animation:hover{
    text-decoration-color: #8C8C15;
}

.underline-animation-other{
  text-decoration: underline 0.10em rgba(189, 41, 41, 0);
  transition: text-decoration-color 300ms;
}
.underline-animation-other:hover{
    text-decoration-color: #000;
}